.brands {
  padding: 40px;
  text-align: center;
  background: #2b1d14;
  margin: 60px 10%;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 1px solid rgba(212, 175, 55, 0.2);
}

.brands h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: white;
}
.brands h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #d4af37;
  display: block;
  margin: 10px auto 0;
  border-radius: 2px;
}

/* Grid */
.brands-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* Each stat */
.brand-item {
  background: rgba(212, 175, 55, 0.08);
  color: white;
  padding: 25px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* Number */
.brand-item h3 {
  font-size: 28px;
  color: #d4af37;
  margin-bottom: 10px;
}

/* Label */
.brand-item p {
  font-size: 14px;
  color: #959191;
}

/* Hover effect */
.brand-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(212, 175, 55, 0.2);
}

@media (max-width: 768px) {
  .brands {
    margin: 40px 5%;
    padding: 30px 20px;
  }

  .brands-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .brands {
    margin: 30px 3%;
    padding: 25px 15px;
  }

  .brands-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .brand-item {
    padding: 20px;
  }

  .brands h2 {
    font-size: 24px;
  }

  .brand-item h3 {
    font-size: 24px;
  }

  .brand-item p {
    font-size: 13px;
  }
}
